@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <table class="table table-hover table-bordered">
        @foreach(var task in Model)
        {
            <tr>
                <th>@task.name</th>
                <th>@task.automodelname</th>
                <th>@task.totalprice</th>
            </tr>
        }
            </table>
            </div>


<p>Use this page to detail your site's privacy policy.</p>
